<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <form id="loginForm" action="/loginProc" method="post">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
<div>
    <button>Login</button>
</div>
<div style= "padding: 3px 0px 0px 0px">
    <button  type="button" onclick="location.href='/join'" value="회원가입">Join</button>
</div>
            
            

        </form>
    </div>
    
<script>
    function login(){
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        console.log('username:%s password:%s',username,password);
        
        fetch('/loginuser', {
            method :'post',
            headers :{
                'content-type': 'application/json'
            },
            body: JSON.stringify({
                'username':username,
                'password':password
            })
        }).then((res)=>res.json())
        .then((res)=>{
            console.log(res);
            if(res !='ok') {
                console.log('result is not ok');
                return false;
            }
        
            window.location.href ="main2.html";
        
        })
        
    }
    
</script>
</body>

</html>
<%-include('footer.ejs')%>

